<h1>Listing cars</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number of Seats</th>
    <th>Cost</th>
    <th>Colour</th>
    <th>Automatic</th>
    <th>Image</th>
    <th>User</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.name %></td>
    <td><%= car.numSeats %></td>
    <td><%= car.cost %></td>
    <td><%= car.colour %></td>
    <td><%= car.automatic %></td>
    <td><%= image_tag(car.image, :size=>"350x200")%></td>
    <td><%= car.user.lastName %></td>
    <td><%= car.location.address %></td>
    <td><%= link_to 'Show', car %></td>
    <td><%= link_to 'Edit', edit_car_path(car) %></td>
    <td><%= link_to 'Destroy', car, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Car', new_car_path %>
