<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @location.address %>
  <br>
   <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@location.latitude}%2C#{@location.longitude}" %>
</p>


<p>
  <b>Pickup:</b>
  <%= @location.pickUp %>
</p>

<p>
  <b>Dropoff:</b>
  <%= @location.dropOff %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
